{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.{hbs}",
      "options": {
        "parser": "glimmer"
      }
    },
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
