{{! prettier-ignore }}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>WiFi Portal</title>
  </head>
  <body class="bg-blue-500">
    {{> fullHero }}

    <div class="container mx-auto p-16 max-w-screen-md opacity-100 z-10
      relative">
      <!-- create a card with tailwind -->
      <div class="bg-white rounded-lg shadow-2xl p-4">
        <h1 class="text-2xl font-bold mb-6">Failure!</h1>
        <p class="text-red-800">You can not connect to <strong>{{ssid}}</strong>!</p>
        <p>Something happened and you are not allowed to access this page</p>
      </div>

      <!-- use footer partial -->
      {{!-- {{> footer }} --}}
    </div>
  </body>
</html>