{{! prettier-ignore }}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/output.css" rel="stylesheet" />
    <title>WiFi Portal</title>
  </head>
  <body class="bg-blue-500">
    {{> fullHero }}
    <div class="container mx-auto p-16 max-w-screen-md opacity-100 z-10
      relative">
      <!-- create a card with tailwind -->
      <div class="bg-white rounded-lg shadow-2xl p-4">
        <h1 class="text-2xl font-bold mb-6">Success!</h1>
        <p>You have successfully registered to <strong>{{ssid}}</strong>!</p>
        <p>Feel free to ask question if you have issues with the WiFi or
          anything else!</p>
        <p class="mt-8 mb-6">You can close this page!</p>

        <a href="#" class="bg-blue-500 hover:bg-blue-700
          text-white font-bold py-2 px-4 mt-6 rounded"
          onclick="window.location.href='{{url}}'; return false">
          Test and close
        </a>
      </div>

      <!-- use footer partial -->
      {{!-- {{> footer }} --}}
    </div>
  </body>
</html>